@keyframes colors { 
  0%   {background-color: deeppink;}
  50%  {background-color: cyan;}
  100% {background-color: deeppink;} 
}
@keyframes tilt {
  0%  {transform: rotate(15deg)}
  50% {transform: rotate(-15deg)}
  100%  {transform: rotate(15deg)}
}
@keyframes ptilt {
  0%  {transform: rotate(10deg)}
  50% {transform: rotate(-10deg)}
  100%  {transform: rotate(10deg)}
}
h1 {
  text-shadow:  1px 1px 0 red, 
                2px 2px 0 red;
  animation: 15s tilt infinite;
  text-align: center;
  margin: auto;
}
p {
  animation:  20s ptilt infinite;
  margin: auto;
}
body {
  animation: 10s colors infinite;
}
