@keyframes colors { 
  0%   {background-color: deeppink;}
  50%  {background-color: cyan;}
  100% {background-color: deeppink;} 
}
@keyframes tilt {
  0%  {transform: skew(10deg, 10deg) rotate(10deg)}
  50% {transform: skew(-10deg, -10deg) rotate(-10deg)}
  100%  {transform: skew(10deg, 10deg) rotate(10deg)}
}
@keyframes ptilt {
  0%  {transform: rotate(5deg)}
  50% {transform: rotate(-5deg)}
  100%  {transform: rotate(5deg)}
}
h1 {
  text-shadow:  1px 1px 0 red, 
                2px 2px 0 red;
  animation: 10s tilt infinite;
  text-align: center;
  width:  50%;
  margin: auto;
  padding:  70px 0;
}
p {
  animation:  15s ptilt infinite;
  text-align: center;
  width:  50%;
  margin: auto;
  padding:  20px 0;
}
body {
  animation: 10s colors infinite;
}
